

            .Subscribe-button{
                background-color: rgb(200, 0, 0);
                color:white;
                border-radius: 2px;
                cursor:pointer;
                margin-right: 8px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 16px;
                padding-right: 16px;
            
            
            }
            .Subscribe-button:hover{
                opacity: 0.7;
            }
            .Subscribe-button:active{
                opacity: 0.5
                ;
            }
            .join-button{
                background-color: white;
                border-color: rgb(6, 95, 212);
                border-style:solid;
                border-width: 1px;
                color: rgb(6, 95, 212);
                height:36px;
                width:62px;
                border-radius:2px;
                cursor:pointer;
                margin-right: 8px;
            
            }
            .join-button:hover{
                opacity: 0.7;
            }
            .join-button:active{
                color: white
                ;
            background-color: rgb(6, 95, 212);}
            .tweet-button{
                background-color: rgb(6, 95, 212);
                color:white;
                border-style:solid;
                border-width: 1px;
                height:36px;
                width:80px;
                border-radius:18px;
                font-weight:bold;
                cursor:pointer;
                box-shadow: 0 0 0 black;
            }
            .tweet-button:hover{
                opacity: 0.7;
            }
            .tweet-button:active{
                color: white
                ;
            }
        